.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "one one one one"
    "two two two two"
    ;
}


.one{
grid-area: one;

}

.player{
width: 100%;
height: 100%;
object-fit: cover;

}

.two{
  grid-area: two;
background-color: brown;
padding: 5px;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
font-size: 1.4rem;
text-transform: capitalize;
}

.heading{
color: aliceblue;

}


/* media quries start */


@media screen and (min-width: 768px) {

  html{
    font-size: 17px;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "one one two two"
      ;
  }
  
  
  .one{
  grid-area: one;
  max-width: 50%;
  }
  
  .player{
    width: 100%;
  height: 100%;
  object-fit: cover;

  }
  
  .two{
    grid-area: two;
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  }


  .heading{
  color: aliceblue;
  }
  


}



@media screen and (min-width: 1024px) {

  html{
    font-size: 20px;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "one one two two"
      ;
  }
  
  
  .one{
  grid-area: one;
  max-width: 50%;
  }
  
  .player{
width: 100%;
height: 100%;
  object-fit: cover;
  }
  
  .two{
    grid-area: two;
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .heading{
  color: aliceblue;
  
  }
  






}

@media screen and (min-width: 2560px) {

  html{
    font-size: 41px;
  }




}


