.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "one one one one"
    "two two two two"
    ;
}


.one{
grid-area: one;

}

.player{
width: 100%;
height: 100%;
object-fit: cover;

}

.two{
  grid-area: two;
background-color: #d2ff49;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 1.4rem;
text-transform: capitalize;
}

.heading{
color: red;

}


/* media quries start */


@media screen and (min-width: 768px) {

  html{
    font-size: 17px;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "one one two two"
      ;
  }
  
  
  .one{
  grid-area: one;
  background-color: #d2ff49;
  display: flex;
  justify-content: center;
  align-items: center;

  }
  
  .player{
    width: 200px;
  height: 200px;

  }
  
  .two{
    grid-area: two;
  background-color: #d2ff49;
  display: flex;
  flex-direction: column;
  align-items: center;
  }


  .heading{
  color: red;
  }
  


}



@media screen and (min-width: 1024px) {

  html{
    font-size: 20px;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "one one two two"
      ;
  }
  
  
  .one{
  grid-area: one;
  background-color: #d2ff49;
  display: flex;
  justify-content: center;
  align-items: center;

  }
  
  .player{
    width: 240px;
  height: 240px;

  }
  
  .two{
    grid-area: two;
  background-color: #d2ff49;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  }


  .heading{
  color: red;
  }
  

}

@media screen and (min-width: 2560px) {

  html{
    font-size: 41px;
  }

  .player{
    width: 500px;
  height: 500px;

  }
  
  .two{
    grid-area: two;
  background-color: #d2ff49;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  }


}


