.main {
display: flex;
flex-direction: column;
justify-content: center;
}
.email{
background-color: aliceblue;
display: flex;
height: 20vh;
justify-content: center;
align-items: center;
text-transform: uppercase;
font-size: 0.8rem;
font-weight: bold;
}

.phone{
background-color: blue;
display: flex;
height: 20vh;
justify-content: center;
align-items: center;
text-transform: uppercase;
font-size: 0.8rem;
font-weight: bold;
}
.social{
background-color: red;
display: flex;
height: 20vh;
justify-content: space-around;
align-items: center;
text-transform: uppercase;
font-size: 0.8rem;
font-weight: bold;
}

@media screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }

    .email{
      background-color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: bold;
      }
      
      .phone{
      background-color: blue;
      display: flex;
    
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: bold;
      }
      .social{
      background-color: red;
      display: flex;
    
      justify-content: space-around;
      align-items: center;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: bold;
      }

}

@media screen and (min-width: 1024px) {

  .email{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    }
    
    .phone{
    background-color: blue;
    display: flex;
  
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    }
    .social{
    background-color: red;
    display: flex;
  
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    }

}

@media screen and (min-width: 2560px) {

  .email{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    }
    
    .phone{
    background-color: blue;
    display: flex;
  
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    }
    .social{
    background-color: red;
    display: flex;
  
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    }

}
